.App {
  text-align: center;
}

.firstContainer {
  background-color: #01184e;
  /* position: relative;
  z-index: 2; */
}

.App-logo {
  /* height: 40vmin; */
  width: 80%;
  pointer-events: none;
  bottom: 20px;
}

.mainheading {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.shortendesktop {
  display: none;
}

.mainText {
  margin-top: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.getStartedDesk {
  display: none;
}

.getStartedMob {
  margin-top: 20px;
  margin-bottom: 80px;
  background: #f67001;
  border-radius: 50px;
  padding: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  width: 150px;
}

input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.shorten {
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f67001;
  width: 300px;
  height: 100px;
  margin-bottom: -100px;
  border-radius: 10px;
  padding: 15px;
  bottom: 0;
  position: absolute;
  z-index: 10;
}

.btnShort {
  background-color: #01184e;
  padding: 5px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.secondContainer {
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
  padding-top: 70px;
  /* z-index: ; */
}

.secondText {
  padding: 2rem;
  color: #01184e;
}

.secondText h2 {
  color: #01184e;
  margin-bottom: 20px;
}

.secondText p {
  text-align: left;
  line-height: 25px;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.App-dev {
  /* height: 40vmin; */
  width: 80%;
  pointer-events: none;
  bottom: 20px;
}

.contactUs {
  margin-top: 50px;
  background-color: #f67001;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 40px;
}

.contactUs h2 {
  padding-top: 35px;
  margin-bottom: 20px;
}

/* .inputText {
  margin-left: 30px;
  display: block;
} */
/* .inputname {
  margin-left: 40px;
} */
label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.contactUs input {
  width: 300px;
}

textarea {
  padding: 20px;
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.submit {
  background-color: #01184e;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 200px;
  margin: auto;
  /* margin-top: 10px;
  margin-left: auto;
  margin-right: auto; */
  display: block;
}

@media screen and (min-width: 700px) {
  .firstContainer {
    display: flex;
    justify-content: space-between;
    /* margin-left: 35px; */
  }

  .getStartedMob {
    display: none;
  }

  .getStartedDesk {
    display: block;
    margin-top: 20px;
    background: #f67001;
    border-radius: 50px;
    padding: 8px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    width: 150px;
  }

  .fisrtSession {
    margin-left: 20px;
  }

  .mainheading {
    margin-top: 80px;
    margin-bottom: 25px;
    font-size: 35px;
    text-align: left;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
  }

  .mainText {
    width: 380px;
    line-height: 25px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;

    margin-bottom: 25px;
    color: #ffffff;
  }

  .App-logo {
    /* height: 40vmin; */
    margin-right: -100px;
    width: 70%;
    pointer-events: none;
    margin-bottom: 100px;
  }

  .shorten {
    display: none;
  }

  .shortendesktop {
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    background-color: #f67001;
    width: 60%;
    height: 100px;
    margin-bottom: -100px;
    border-radius: 10px;
    padding: 15px;
    bottom: 0;
    position: absolute;
    z-index: 10;
  }

  .btnShort {
    background-color: #01184e;
    height: 50px;
    padding: 5px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 150px;
    margin-top: -0px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
  }

  input {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
    border: none;
    padding: 10px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 5em;
  }

  .secondText {
    padding: 2rem;
    color: #01184e;
  }

  .secondText h2 {
    font-size: 30px;
    color: #01184e;
  }

  .secondText p {
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 650px;
  }

  .App-dev {
    /* height: 40vmin; */
    width: 100%;
    pointer-events: none;
    bottom: 20px;
  }

  .contactUs {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .contactUs h2 {
    padding-top: 35px;
    margin: auto;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .inputText {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .contactUs input {
    width: 530px;
    height: 60px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

  label {
    display: block;
    /* text-align: left; */
    margin-bottom: 10px;
    line-height: 35px;
    /* margin-left: 10px; */
  }

  .inputname {
    margin-left: 65px;
  }

  textarea {
    padding: 20px;
    width: 90%;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
  }

  .submit {
    background-color: #01184e;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 500px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (min-width: 1500px) {
  .contactUs input {
    width: 670px;
    height: 60px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }

  label {
    display: block;

    margin-bottom: 10px;
    line-height: 35px;
  }

  .inputname {
    margin-left: 150px;
  }

  textarea {
    padding: 20px;
    width: 85%;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
